h1 {
	text-align: center;
	font: 400 200px/0.8 'Cookie', Helvetica, sans-serif;
	font-weight:100;
	padding-top: 5%;
	font-size: 500%;
}

#rectangle {
	position: absolute;
  	margin: auto;
  	top: 0%;
  	right: 0;
  	bottom: 0;
  	left: -55%;
  width: 25%;
  	height: 25%;
 	background-color: #EE478A;
 	border-radius: 10px;
 	text-align: center;
	vertical-align: middle;
	line-height: 160px; 
 	font-family: "Helvetica Neue";
 	font-weight:100;
	font-size: 300%;
	color: white;
}

#rectangle2 {
	position: absolute;
  	margin: auto;
  	top: 0%;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	width: 25%;
  	height: 25%;
 	background-color: #26437F;
 	border-radius: 10px;
 	text-align: center;
	vertical-align: middle;
	line-height: 160px; 
 	font-family: "Helvetica Neue";
 	font-weight:100;
	font-size: 300%;
	color: white;
}

#rectangle3 {
	position: absolute;
  	margin: auto;
  	top: 0%;
  	right: 0;
  	bottom: 0;
  	left:55%;
  	width: 25%;
  	height: 25%;
 	background-color: #36BF2D;
 	border-radius: 10px;
 	text-align: center;
	vertical-align: middle;
	line-height: 160px; 
 	font-family: "Helvetica Neue";
 	font-weight:100;
	font-size: 300%;
	color: white;
}